@tailwind base;
@tailwind components;
@tailwind utilities;


#profile-picture{
  clip-path: circle(40%);
}

#text-animation-name path:nth-child(2){
  stroke-dasharray: 2930;
  stroke-dashoffset: 2930;
  animation: line-anim 2s ease forwards;
  -webkit-animation: line-anim 2s ease forwards;
}


#text-animation-name path:nth-child(3){
  stroke-dasharray: 2214;
  stroke-dashoffset: 2214;
  animation: line-anim 2s ease forwards 0.3s;
  -webkit-animation: line-anim 2s ease forwards 0.3s;
}

#text-animation-name path:nth-child(4){
  stroke-dasharray: 377;
  stroke-dashoffset: 377;
  animation: line-anim 2s ease forwards 0.6s;
  -webkit-animation: line-anim 2s ease forwards 0.6s;
}

#text-animation-name path:nth-child(5){
  stroke-dasharray: 3552;
  stroke-dashoffset: 3552;
  animation: line-anim 2s ease forwards 0.9s;
  -webkit-animation: line-anim 2s ease forwards 0.9s;
}

#text-animation-name path:nth-child(6){
  stroke-dasharray: 3507;
  stroke-dashoffset: 3507;
  animation: line-anim 2s ease forwards 1.2s;
  -webkit-animation: line-anim 2s ease forwards 1.2s;
}

#text-animation-name path:nth-child(7){
  stroke-dasharray: 1299;
  stroke-dashoffset: 1299;
  animation: line-anim 2s ease forwards 1.5s;
  -webkit-animation: line-anim 2s ease forwards 1.5s;
}

#text-animation-name path:nth-child(8){
  stroke-dasharray: 3091;
  stroke-dashoffset: 3091;
  animation: line-anim 2s ease forwards 1.8s;
  -webkit-animation: line-anim 2s ease forwards 1.8s;
}

#text-animation-name path:nth-child(9){
  stroke-dasharray: 3539;
  stroke-dashoffset: 3539;
  animation: line-anim 2s ease forwards 2.1s;
  -webkit-animation: line-anim 2s ease forwards 2.1s;
}

#text-animation-name path:nth-child(10){
  stroke-dasharray: 377;
  stroke-dashoffset: 377;
  animation: line-anim 2s ease forwards 2.4s;
  -webkit-animation: line-anim 2s ease forwards 2.4s;
}

#text-animation-name path:nth-child(11){
  stroke-dasharray: 4038;
  stroke-dashoffset: 4038;
  animation: line-anim 2s ease forwards 2.7s;
  -webkit-animation: line-anim 2s ease forwards 2.7s;
}

#text-animation-name path:nth-child(12){
  stroke-dasharray: 3584;
  stroke-dashoffset: 3584;
  animation: line-anim 2s ease forwards 3s;
  -webkit-animation: line-anim 2s ease forwards 3s;
}

#text-animation-name path:nth-child(13){
  stroke-dasharray: 3552;
  stroke-dashoffset: 3552;
  animation: line-anim 2s ease forwards 3.3s;
  -webkit-animation: line-anim 2s ease forwards 3.3s;
}

#text-animation-name path:nth-child(14){
  stroke-dasharray: 377;
  stroke-dashoffset: 377;
  animation: line-anim 2s ease forwards 3.6s;
  -webkit-animation: line-anim 2s ease forwards 3.6s;
}

#text-animation-name path:nth-child(15){
  stroke-dasharray: 3712;
  stroke-dashoffset: 3712;
  animation: line-anim 2s ease forwards 3.9s;
  -webkit-animation: line-anim 2s ease forwards 3.9s;
}

#text-animation-name path:nth-child(16){
  stroke-dasharray: 3712;
  stroke-dashoffset: 3712;
  animation: line-anim 2s ease forwards 4.2s;
  -webkit-animation: line-anim 2s ease forwards 4.2s;
}

#text-animation-name path:nth-child(17){
  stroke-dasharray: 3885;
  stroke-dashoffset: 3885;
  animation: line-anim 2s ease forwards 4.5s;
  -webkit-animation: line-anim 2s ease forwards 4.5s;
}

#text-animation-name path:nth-child(18){
  stroke-dasharray: 3584;
  stroke-dashoffset: 3584;
  animation: line-anim 2s ease forwards 4.8s;
  -webkit-animation: line-anim 2s ease forwards 4.8s;
}

#text-animation-name path:nth-child(19){
  stroke-dasharray: 3552;
  stroke-dashoffset: 3552;
  animation: line-anim 2s ease forwards 5.1s;
  -webkit-animation: line-anim 2s ease forwards 5.1s;
}

#text-animation-name{
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  color: #EEEEEE;
}
  
  @keyframes line-anim{
  to{
    stroke-dashoffset: 0;
  }
}

#text-grows-and-stayes-big{
  animation-name: grow;
  animation-duration: 5.4s;
  animation-fill-mode: forwards;
}
#lightGreen-text-grows-and-stayes-big{
  color: #32E0C4;
}

@keyframes grow{
  0%{
    font-size: 0;
  }
  100%{
    font-size: 30px;
  }
}

#skills-popout{
  border-radius: 1.5rem;
    transition: 0.3s;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}
#skills-popout:hover{
  transform: scale(1.1);
  padding-top: 1em;
  box-shadow: 0 8px 16px 0 rgba(149,176,181,2);
}

.carousel {
  position: relative;
  background-color:#393E46;
  margin-top: 26px;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.carousel-item img {
  display: block;
  height: 25em;
  max-width: 100%;
}

.carousel-control {
  background: #393E46;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carousel-control.prev {
  left: 2%;
  padding-bottom: 1.15em;
}

.carousel-control.next {
  right: 2%;
  padding-bottom: 1.15em;
}

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.carousel-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.carousel-bullet:hover {
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
  color: #0D7377;
}

.contact{
  padding-top: 2em;
}